form, .top-reg {
    background-image: linear-gradient(177deg, #191E24 100%, #353F4A 0%);
    width: 100vw;
    font-family: Nunito;
    color: white;
}

form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    
}

label {
    display: block;
}

input, select {
    width: 80%;
    height: 1.5em;
}

button {
    background: #3461FF;
    border: none;
    width: 6em;
    height: 3em;
    border-radius: 5px;
    color: white;
}