* {
   text-align: center; 
}

.time-container span {
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    width: 80px;
}

.time-container {
    max-width: 625px;
    /* background-color: red; */
}

.join-btn {
    width: 300px;
    height: 70px;
    border-radius: 15px;
    background: #3461FF;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 3em;
}

.capsule {
    display: flex;
    /* gap: 5px; */
    flex-direction: row;
    margin-top: 3em;
}

.interval {
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    font-style: normal;
    font-weight: 600;
}

#time-title {
    color: #FFF;
    font-family: Nunito;
    font-size: 4.5em;
    font-style: normal;
    font-weight: 800;
    line-height: 85px;
    text-align: left;
}

/* Mobile view */
@media (max-width: 480px) {

    .join-btn {
        max-width: 150px;
        max-height: 40px;
        font-size: 13px;
        margin-top: 1em;
    }

    #time-title {
        font-size: 1em;
        font-style: normal;
        line-height: 1.5em;
        flex-wrap: wrap;
        display: flex;
        
    }
    .time-title-container {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
}

    .time-container {
    height: 100%;
    padding-left: 1em;
    }

    .time-container span {
        font-size: 1em;
        width: 1.2em;
    }

    .interval {
        font-size: .5em;
    }
    .capsule {
        margin-top: 1em;
        
    } 
}