.about--section {
    display: flex;
    padding: 0 11em;
}

.about--images {
    position: relative;
}
.about--images > img {
    position: absolute;
}

.about--writeup {
    max-width: 500px;    
    margin-left: auto;
    text-align: left;
}

.about--info span {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.about--subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.about--info h4 {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin: 0;
}

.about--info {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.about--info > div {
    border-radius: 32px;
    background: #242B33;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.08);
    width: 160px;
    height: 110px;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about--title {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

.about--text {
    font-family: SF Pro Display;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.vector-1 {
    top: 17em;
    left: 10em;
    z-index: 1;
}

.vector-2 {
    top: 2em;
    z-index: 1;
}

.vector-3 {
    top: 11em;
    left: 20em;
    position: absolute;
    z-index: 3;
}
/* MEDIA QUERY */
@media (max-width: 480px) {
    .about--images > img {
    height: 150px;
    width: 135px;
}
.about--section {
    display: flex;
    padding: 1em;
}
.about--title {
    font-size: 1em;
}

.about--info > div {
    width: 40px;
    height: 35px;
    border-radius: 5px;
}
.about--text {
    font-size: 12px;
    line-height: 18px;
}

.about--info h4 {
    font-size: 16px;
}

.about--subtitle {
    font-size: 10px;
}

.about--info span {
    font-size: 6px;
}

.vector-1 {
    top: 8em;
    left: 1em;
    width: 120px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 4px;
}

.vector-3 {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 6em;
    top: 7em;
}

.about--writeup {
    width: 50%;
}

.about--info {
    gap: 3em;
}
}