nav {
  display: flex;
  align-items: center;
  max-width: 100vw;
  position: relative;
  z-index: 1;
  color: white; 
  /* background-color: red; */
}

.register-btn {
    margin: auto;
    margin-left: 70em;
    height: 45px;
    border-radius: 5px;
    width: 150px;
    border: none;
    background: #3461FF;
    color: white;
    cursor: pointer;
}

@media (max-width: 480px) {

    nav {
      padding: 5px;
    }
    nav .title {
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
    }

    .register-btn {
      width: 70px;
      height: 32px;
      margin-left: 10em;
    }
    
}